<div>
	<form>
		<input type="text" ng-model="targetUser" class="input-medium search-query" ui-autocomplete="{source:autocompleteSuggesions}"></input>
		<button ng-click="rpc.rsvp.issue(targetUser.value,'hello')" class="btn">Invite</button>
	</form>
</div>
<div>
	<h5>friend list</h5>
	<ul>
		<li ng-repeat="f in me.friends">
			{{f.name}} <button class="btn" ng-click="rpc.rsvp.removeFriend(f.id)">Remove</button>
		</li>
	</ul>
</div>
<div>
	<h5>recv rsvp</h5>
	<ul>
		<li ng-repeat="rsvp in me.rsvp_have">
			{{rsvp.rsvp}} 
			<span class="btn-group">
				<button class="btn" ng-click="rpc.rsvp.reply(rsvp.rsvp,'accept')">Accept</button>
				<button class="btn" ng-click="rpc.rsvp.reply(rsvp.rsvp,'reject')">Reject</button>
			</span>							
		</li>
	</ul>
</div>
<div>
	<h5>issued rsvp</h5>
	<ul>
		<li ng-repeat="rsvp in me.rsvp_issued">
			{{rsvp.issuee}} <button class="btn" ng-click="rpc.rsvp.cancel(rsvp.rsvp)">Cancel</button>
		</li>
	</ul>
</div>