<div class="row">
	<div class="span6">
		<playground style="background:black" width="500" height="500" framerate="60" runner='runner'></div>	
	</div>
	<div class="span6">
		Hello
	</div>
</div>
<div class="row">
	<div class="span">
		<dl>
			<dt>stats</dt>
			<dd>{{stats}}</dd>
			<dt>J</dt>
			<dd>dig</dd>
			<dt>K</dt>
			<dd>put</dd>
		</dl>				
	</div>
</div>
<div class="row">
	<div class="span7"></div>
	<div class="span5">
		<div>{{world.age}}</div>
		<div ng-repeat="(id,avatar) in world.avatars">
			{{id}} : {{avatar}} <button class="btn btn-small" ng-hide="avatar.owned" ng-click="rpc.world.actions.follow(id)">Follow</button>
		</div>
	</div>
</div>